.logo{
    position:absolute;
    left:0px;
    top:0px;
}

header ul{
    position:absolute;
    left:0px;
    top:80px;
    width:100%;
    height:40px;
    background-color:black;
}

header ul li{
    float:left;
    list-style:none;
    padding-left:50px;
    color:white;
    line-height:40px;
}

body{
    font-family:"Hiragino Kaku Gothic ProN","メイリオ","sans-self";
}

h1{
    position:absolute;
    left:0px;
    top:130px;
    width:55%;
    padding-left:10px;
    border-left:5px solid black;
    border-bottom:5px double black;
}


form1{
    position:absolute;
    left:40px;
    top:220px;
    margin:0 auto;
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    width:300px;
}

form div{
    padding:15px;
}

.text,.textarea{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background-color:#fff;
}

.submit{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color:#bfbfbf;
    border-radius:5px;
    border-bottom:solid 2px gray;
}

.kiji{
    position:absolute;
    left:20px;
    top:620px;
    margin:0 auto;
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    width:400px;
}

.right{
    position:absolute;
    left:620px;
    top:130px;
}

.right h2{
    border-bottom:5px dotted black;
}

footer{
    position:absolute;
    left:0px;
    top:1100px;
    width:100%;
    height:40px;
    background-color:black;
    color:white;
    line-height: 40px;
    text-align: center;
}
