
.logo{
    position:absolute;
    left:0px;
    top:0px;
}

header ul{
    position:absolute;
    left:0px;
    top:80px;
    width:100%;
    height:40px;
    background-color:black;
}

header ul li{
    float:left;
    list-style:none;
    padding-left:50px;
    color:white;
    line-height:40px;
}


h1{
    position:absolute;
    left:0px;
    top:130px;
    width:55%;
    padding-left:10px;
    border-left:5px solid black;
    border-bottom:5px double black;
}

.left{
    position:absolute;
    left:0px;
    top:230px;
}

.right{
    position:absolute;
    left:920px;
    top:130px;
}

.right h2{
    border-bottom:5px dotted black;
}

.content{
    position:absolute;
    left:0px;
    top:700px;
}

.content-item{
    float:left;
    margin-left:16px;
}

.content-item p{
    margin-left:16px;
    font-size:14px;
}

.content2{
    position:absolute;
    left:0px;
    top:880px;
    
}

.content-item2{
    float:left;
    margin-left:15px;
}

.content-item2 p{
    margin-left:14px;
    font-size:14px;
}

footer{
    position:absolute;
    left:0px;
    top:1100px;
    width:100%;
    height:40px;
    background-color:black;
    color:white;
    line-height: 40px;
    text-align: center;
}

